{{!-- <button type="button" id="decrease-tickets" class="btn btn-outline-primary">-</button>
<input type="number" name="qty" value="2" hidden>
<span id="qty-span" class="card text-center justify-content-center" style="width: 50px"></span>
<div>
    <button type="button" id="increase-tickets" class="btn btn-outline-primary">+</button>
    <p class="opacity-0">Maximum ticket quantity reached</p>
</div>

<script>
    $(document).ready(function() {
        $("#increase-tickets").click(increaseQty)
        $("#decrease-tickets").click(decreaseQty)
    })
     
</script> --}}