<h1><a href="/">Tickets</a></h1>
<ul>
    <li><a href="/events">Events</a></li>
    <li><a href="/account">Account</a></li>
</ul>
<form action="/search" method="get">
    <label for="search"></label>
    <input type="text" id="search" name="query" placeholder="Search for an artist, city, or tour" required>
    <button type="submit">Go</button>
</form>
