<h3>No tickets available</h3>
<p>To be notified when more tickets are available, sign up to the waiting list</p>
<form action="/events/tour/{{tourID}}/waiting-list" method="get" class="d-block text-center">
        <input name="venue" value="{{venueID}}" hidden>
        <input name="dates" type="text" id="waiting-list-dates">
            <button class="btn btn-secondary col-4 m-auto">Waiting List</button>
    </form>
