<h3>No tickets available</h3>
<p>To be notified when more tickets are available, sign up to the waiting list</p>
<form id="waiting-list-signup" action="">
    <p class="comment">Need hidden elements (or onclick method) with tour ID, selected city and dates to send to the sign up form</p>
    <button class="btn btn-secondary">Waiting List</button>
</form>
