.note-to-self {
    color: grey;
    font-style: italic;
    display: block;
}

.note-to-self:before {
    content: "// ";
}

.purchase-button {
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: turquoise;
}