<main>
    <h2>How it works</h2>
</main>
<aside>
    <h2>Upcoming Events</h2>
    {{#each events}}
        <li><a href="events/{{this.artist.key}}/{{this.tour.key}}">{{this.artist.label}}: {{this.tour.label}}</a></li>
    {{/each}}
</aside>
