<main>
    <h2>How it works</h2>
</main>
<aside>
    <h2>Upcoming Events</h2>
    {{#each events}}
        <li><a href="events/">{{this.artist_name}}: {{this.tour_name}}</a></li>
    {{/each}}
</aside>
