<h2>Search Results</h2>
<p>You searched for: {{ query }}</p>
<p class="comment"><a href="https://stackoverflow.com/questions/3468812/mysql-query-contains">https://stackoverflow.com/questions/3468812/mysql-query-contains</a></p>
<p class="comment">This page could be the same as the events page/route just with the query filter applied...</p>