<h1>Log In</h1>

{{#if messages.error}}
    <p class="alert alert-danger">
        {{messages.error}}
    </p>
{{/if}}

<form action="login" method="POST">
    {{#each query}}
        <input name={{@key}} value={{this}} hidden> {{! to pass query through to login post page }}
    {{/each}}
    <label for="email">Email</label><input type="email" name="email" id="email" required>
    <br>
    <label for="password">Password</label><input type="password" name="password" id="password" required>
    <br>
    <button type="submit">Login</button>
</form>

<p></p>Don't have an ccount? Click here to <a href="register">register</a></p>